.container {
  background-image: url(https://placekitten.com/500/500);
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translate(0, 100%);
}

.title {
  height: 100px;
  width: 200px;
  background-color: lightblue;
  animation: 3s changePosition;
}

.title:hover {
  animation-play-state: running;
}

@keyframes changePosition {
  from {
    transform: translate(0, -1000px);
  }
  to {
    transform: translate(0, 0);
  }
}
