.container {
  background-color: blue;
}

.item {
  margin: 40px;
  padding: 30px;
  height: 300px;
  width: 300px;
}

.item1 {
  background-color: rgb(7, 190, 120);
  position: relative;
  left: 100px;
  top: 50px;
}

.item2 {
  background-color: rgb(106, 8, 172);
  position: relative;
  right: 150px;
  bottom: 320px;
}

.item3 {
  background-color: rgb(150, 201, 33);
  position: relative;
  left: 180px;
  bottom: 240px;
}
